<footer style="background-color: #f8f8f8; padding: 20px; text-align: center;">
    <p>&copy; 2024 Your Company Name. All rights reserved.</p>
    <p>
        <a href="/about-us" style="margin-right: 15px;">About Us</a>
        <a href="/contact-us" style="margin-right: 15px;">Contact Us</a>
        <a href="/privacy-policy">Privacy Policy</a>
    </p>
    <p>Follow us on:</p>
    <p>
        <a href="https://facebook.com/yourpage" target="_blank">Facebook</a> |
        <a href="https://twitter.com/yourpage" target="_blank">Twitter</a> |
        <a href="https://instagram.com/yourpage" target="_blank">Instagram</a>
    </p>
</footer>