.form-login{
    background-color: gray;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    border: 1px;
    align-items: center;
    justify-content: center;
}

.divider-nospace{
    border: 10px solid gray;
}
.password-field{
    position: relative;
}

.form-control:focus{
    outline: none;
    border-color: purple;
}

.password-toggle{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: rgb(105, 244, 181);
    cursor: pointer;
}

.checkbox-text{
    color: rgb(243, 165,42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkbox-text input[type="checkbox"]:checked{
    border-color: white;
    background-color: rgb(233, 66, 178);
}

.register-link{
    text-decoration: none;
}