<app-header></app-header>

<div class="container form-control">
    <div class="text-center my-4">
        <h1>Đây là trang order confirm</h1>
        <p>Sử dụng Bootstrap</p>
        <p>Cảm ơn bạn đã đặt hàng! Dưới đây là chi tiết về đơn hàng của bạn</p>
    </div>
    <div class="row product-container">
        <table>
            <thead>
                <th scope="col" class="text-start">Sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Tổng giá</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="">
                            <img src="https://images.pexels.com/photos/699122/pexels-photo-699122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
                                alt="product image"
                                class="product-image">
                            <span class="mx-4">Tên sản phẩm</span>
                        </div>
                    </td>
                    <td>4</td>
                    <td>100$</td>
                    <td>400$</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-outline-primary" type="button">Tiếp tục mua sắm</button>
        </div>
    </div>
    
</div>

<app-footer></app-footer>