<app-header></app-header>

<div class="container-fluid">
    <div class="intro-section">
        <h1>Đây là trang Home</h1>
        <p>Trang này hiển thị danh sách các sản phẩm, kèm ảnh</p>
        <p>Các bạn có thể xem sản phẩm và mua hàng tại đây</p>
    </div>
    <!--Đoạn này có một ô search checkbox ở bên trái, 1 combobox ở bên phải-->
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select name="" id="" class="form-control product-category mx-2">
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Đồ điện tử</option>
            <option>Đồ gia dụng</option>
            <option>Đồ thời trang</option>
        </select>
    </div>
    <div class="row my-3">
        <div class="col-lg-4">
            <div class="form-control">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Đây là ảnh laptop" class="product-image">
                <h3>Latop</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ut officiis? Illum modi ab ratione, reiciendis culpa doloribus alias veniam quisquam laborum enim exercitationem molestiae ea numquam accusantium dolorum pariatur.</p>
                <p>Bảo hành 12 tháng</p>
                <p>Giá: 1000$</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-control">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Đây là ảnh laptop" class="product-image">
                <h3>Latop</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ut officiis? Illum modi ab ratione, reiciendis culpa doloribus alias veniam quisquam laborum enim exercitationem molestiae ea numquam accusantium dolorum pariatur.</p>
                <p>Bảo hành 12 tháng</p>
                <p>Giá: 1000$</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-control">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Đây là ảnh laptop" class="product-image">
                <h3>Latop</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ut officiis? Illum modi ab ratione, reiciendis culpa doloribus alias veniam quisquam laborum enim exercitationem molestiae ea numquam accusantium dolorum pariatur.</p>
                <p>Bảo hành 12 tháng</p>
                <p>Giá: 1000$</p>
            </div>
        </div>
        <div class="col-lg-4 my-3">
            <div class="form-control">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Đây là ảnh laptop" class="product-image">
                <h3>Latop</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ut officiis? Illum modi ab ratione, reiciendis culpa doloribus alias veniam quisquam laborum enim exercitationem molestiae ea numquam accusantium dolorum pariatur.</p>
                <p>Bảo hành 12 tháng</p>
                <p>Giá: 1000$</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>