.intro-section {
    text-align: center;
    padding: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-category {
    width: 200px;
}

.search-input {
    width: 300px;
    margin-right: 10px;

}

.product-image{
   width: 100px;
   height: auto;
   margin-bottom: 10px; 
}